    body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
}

.delete {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}